.sidepanel {
	height: 338px;
	position: fixed;
	top: 226px;
	left: 50px;
	z-index: 30;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	&__link {
		&:hover {
			svg path {
				fill: $hover-color;
			}
		}
	}
	&__divider {
		height: 70px;
		width: 2px;
		background: #000;
	}
	&__text {
		height: 148px;
		width: 24px;
		span {
			display: block;
			width: 148px;
			transform: rotate(-90deg) translate(-40%, -260%);
			font-weight: 700;
			line-height: 24px;
			font-size: 16px;
		}
	}
}
